/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
  text-align: center;
  font-family: "Roboto", helvetica, sans-serif;
}

div {
  margin: 10px;
  padding: 10px;
  border-width: 2px;
}

.submit-button {
  display: block
}