/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
	box-sizing: border-box;
	margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
  background-color: #FBA481;
  font-family: 'Arvo', serif;
  color: #183446;
}

.start-page {
  margin-top: 50px;
}

main {
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

div {
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

button {
  background-color: #B3E7F2;
  border: 2px groove #D95032;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 55px;
  width: 200px;
  font-size: 20px;
}

.correct-incorrect {
  margin: 20px;
  border: 2px groove #D95032;
  border-radius: 5px;
  padding: 5px;
}

.choices {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px;
}

img {
  height: 100px;
  margin: 10px;
  border-radius: 5px;
}
.correctAnswer {
  margin: 10px;
}

.question {
  margin: 10px;
}

.finish-page {
  margin-top: 50px;
}

.results {
  margin-top: 20px;
  margin-bottom: 20px;
}
input[type='radio'] {
  transform: scale(2);
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  body {
    margin-top: 70px;
  }
  .correct-incorrect {
    font-size: 20px;
    margin: 20px;
  }
  p {
    font-size: 30px;
  }
  .answer-options {
    font-size: 25px;
    margin: 20px;
    margin-top: 30px;
  }

  button {
    margin-top: 40px;
    height: 70px;
    width: 300px;
    font-size: 30px;
  }

  .correct-incorrect {
    font-size: 23px;
  }
  
  .question {
    font-size: 40px;
  }

  img {
    height: 400px;
  }

  .results {
    font-size: 50px;
  }
  
  .choices {
    font-size: 30px;
  }
}

/* Color Theme Swatches in Hex */
.clue-orange-1-hex { color: #5089A5; }
.clue-orange-2-hex { color: #B3E7F2; }
.clue-orange-3-hex { color: #D95032; }
.clue-orange-4-hex { color: #FBA481; }
.clue-orange-5-hex { color: #183446; }